* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

body {
  /* background-color: #FEFEFE; */
  margin: 0;
  height: 100vh;
  background:
    radial-gradient(circle at top, #1e293b, #020617),
    linear-gradient(120deg, rgba(34, 197, 94, 0.15), rgba(59, 130, 246, 0.15));
}

/* ===== RESPONSIVE CONTROLLER FIX ===== */

.controller-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
.controller * {
  -webkit-transform: translateZ(0);
}


/* Portrait mode scaling */
@media (orientation: portrait) {
  .controller {
    transform: scale(0.75);
  }
}

/* Very small screens */
@media (max-width: 400px) {
  .controller {
    transform: scale(0.65);
  }
}


.controller {
  margin-top: 100px;
  height: 200px;
  width: 400px;
  background-color: #E6E6E6;
  position: relative;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.controllerLeft {
  height: 250px;
  width: 250px;
  background-color: #E6E6E6;
  position: absolute;
  border-radius: 100%;
  margin-left: -125px;
  box-shadow: -15px 8px 15px rgba(0, 0, 0, 0.2);
}

.controllerRight {
  height: 250px;
  width: 250px;
  background-color: #B8B8B8;
  position: relative;
  border-radius: 100%;
  margin-right: -125px;
  border: solid 15px rgba(230, 230, 230, 1);
  box-shadow: 15px 8px 15px rgba(0, 0, 0, 0.2);
}

.circle {
  height: 150px;
  width: 150px;
  background-color: #E6E6E6;
  position: absolute;
  border-radius: 100%;
  border: solid 5px rgba(184, 184, 184, 1);
  margin-left: 42px;
  margin-top: 52px;
}

.crossCenter {
  background-color: #333333;
  width: 35px;
  height: 35px;
  margin-top: 110px;
  margin-left: 100px;
  position: relative;
}

.crossCircle {
  background-color: rgba(184, 184, 184, 1);
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.crossTop {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: -30px;
}

.crossBottom {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: 30px;
}

.crossLeft {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: -30px;
}

.crossRight {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: 30px;
}

.centerBlue {
  position: absolute;
  width: 50px;
  height: 20px;
  margin-left: 175px;
  margin-top: 30px;
  background-color: #0099FF;
}

.centerLeft {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: 0px;
  background-color: #0099FF;
  border-radius: 100%;
}

.centerRight {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-top: 0px;
  background-color: #0099FF;
  border-radius: 100%;
}

.backButton1Center {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: #E6E6E6;
  -webkit-transform: rotate(-30deg);
  margin-top: 60px;
  margin-left: 45px;
}

.backButton2Center {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: #E6E6E6;
  -webkit-transform: rotate(-30deg);
  margin-top: 115px;
  margin-left: 90px;
}

.cornerLeft1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00B800;
  border-radius: 100%;
  margin-left: -20px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6699FF;
  border-radius: 100%;
  margin-left: 60px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerLeft2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #CFCF00;
  border-radius: 100%;
  margin-left: -20px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #7D230D;
  border-radius: 100%;
  margin-left: 60px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.centerStart {
  background-color: #B8B8B8;
  position: absolute;
  height: 35px;
  width: 10px;
  margin-left: 180px;
  margin-top: 110px;
  -webkit-transform: rotate(20deg);
}

.centerSelect {
  background-color: #B8B8B8;
  position: absolute;
  height: 35px;
  width: 10px;
  margin-left: 205px;
  margin-top: 110px;
  -webkit-transform: rotate(20deg);
}

.SLeft {
  background-color: #B8B8B8;
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: 30px;
}

.SRight {
  background-color: #B8B8B8;
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
}

.cable {
  background-color: black;
  width: 10px;
  height: 300px;
  position: absolute;
  margin-left: 49.7%;
  margin-top: -100px;
  box-shadow: 7px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Generic pressable effect */
.pressable {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.pressable.pressed {
  transform: scale(0.9);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

.centerLeft,
.centerRight,
.SLeft,
.SRight {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.centerLeft.pressed,
.centerRight.pressed,
.SLeft.pressed,
.SRight.pressed {
  transform: scale(1.5);
  /* box-shadow: inset 0 0 10px rgba(0,0,0,0.5); */
}

.cornerLeft1,
.cornerRight1,
.cornerLeft2,
.cornerRight2 {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.cornerLeft1.pressed,
.cornerRight1.pressed,
.cornerLeft2.pressed,
.cornerRight2.pressed {
  transform: scale(1.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.crossTop,
.crossBottom,
.crossLeft,
.crossRight {
  transition: transform 0.1s ease;
}

.crossTop.pressed {
  transform: translateY(-4px) scale(1.2);
}

.crossBottom.pressed {
  transform: translateY(4px) scale(1.2);
}

.crossLeft.pressed {
  transform: translateX(-4px) scale(1.2);
}

.crossRight.pressed {
  transform: translateX(4px) scale(1.2);
}

.crossCircle {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.crossCircle.pressed {
  transform: scale(1.8);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.4);
}